@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Inter", serif;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: hsl(0, 0%, 5%);
  min-height: 100vh;
}

.container {
  background-color: hsl(0, 0%, 12%);
  color: hsl(0, 0%, 100%);
  border-radius: 10px;
  width: 100%;
  max-width: 400px;
  height: inherit;
  text-align: center;
  padding: 25px;
}

.circle-img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 1rem;
  object-fit: cover;
}

.header h1 {
  font-size: 1.5rem;
}

.font-style {
  color: hsl(75, 94%, 57%);
  font-size: 1rem;
  margin: 0.5rem 0 1rem;
}

ul {
  list-style-type: none;
}

.container ul {
  display: grid;
  gap: 0.4rem;
  margin-top: 2rem;
}

.container ul li button {
  font-size: 1rem;
  font-weight: bold;
  width: 100%;
  padding: 1rem;
  background-color: hsl(0, 0%, 20%);
  border-radius: 0.5rem;
  border: none;
  outline: none;
  cursor: pointer;
}

.socials a {
  text-decoration: none;
  color: #fff;
}

.socials button:hover {
  background-color: hsl(75, 94%, 57%);
}

.container ul li button :hover {
  color: hsl(0, 0%, 8%);
}

.attribution {
  font-size: 13px;
  text-align: center;
  margin-top: 1rem;
}
.attribution a {
  color: hsl(75, 94%, 57%);
}

.attribution a:hover {
  color: hsl(207, 95%, 44%);
}

